
<!DOCTYPE html>

<head>
<link rel="stylesheet">

</head>
<body>
<h4>Product</h4>
<ul>
    <li><%= result.name %> </li>
    <li><%=  result.price %> </li>
    <li><%= result.category %> </li>
    </ul>
<a href="/products">back</a>
<form action="/products/<%= result._id %>?_method=delete " method="post">
    <button>delete</button>
    </form>
</body>
