
<!DOCTYPE html>

<head>
<link rel="stylesheet">

</head>
<body>
<h4>New Product</h4>
<form action="/products" method="post">
<input type="text" name="productname" placeholder="productname">
<input type="text" name="productprice" placeholder="productprice">
<select name="category" id="category">
    <option value="fruits">fruits</option>
    <option value="vegetables">vegetables</option>
    <option value="dairy">dairy</option>
</select>
<button type="submit">submit</button>
</form>
</body>
